# TeamsFx files
node_modules
.fx/configs/localSettings.json
.fx/states/*.userdata
.DS_Store
.env.teamsfx.local
subscriptionInfo.json
build
.fx/configs/config.local.json
.fx/states/state.local.json
.idea/.gitignore
.idea/aws.xml
.idea/jpa-buddy.xml
.idea/misc.xml
.idea/modules.xml
.idea/sathish-app-bot.iml
.idea/vcs.xml
